<footer
  class="w-full relative z-10 p-4 flex flex-col sm:flex-row items-center justify-center text-white"
>
  <p class="text-sm text-center">
    Made with ❤️ and
    <a class="text-m-teal underline" href="https://astro.build/" target="_blank"
      >Atro</a
    >
  </p>
  <p class="text-sm text-center flex flex-row">
    <span class="hidden sm:flex mx-4">|</span>
    You can check out the code <a
      href="https://github.com/mathewcst/site"
      target="_blank"
      class="text-m-teal underline ml-2">here</a
    >
  </p>
</footer>
