---
// Astro
import { ViewTransitions } from "astro:transitions";

// Assets
import "@/global.css";
import "@fontsource-variable/fira-code";

// Components
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import PatternBg from "@/components/PatternBg.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#520f69" />
    <meta name="msapplication-TileColor" content="#520f69" />
    <meta name="theme-color" content="#520f69" />

    <!-- META TAGS -->
    <!-- Primary Meta Tags -->
    <title>Matheus Costa | Indie Developer</title>
    <meta name="title" content="Matheus Costa | Indie Developer" />
    <meta name="description" content="I make stuff" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mathewcosta.com/" />
    <meta property="og:title" content="Matheus Costa | Indie Developer" />
    <meta property="og:description" content="I make stuff" />
    <meta property="og:image" content="https://www.mathewcosta.com/meta.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.mathewcosta.com/" />
    <meta property="twitter:title" content="Matheus Costa | Indie Developer" />
    <meta property="twitter:description" content="I make stuff" />
    <meta
      property="twitter:image"
      content="https://www.mathewcosta.com/meta.webp"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="bg-m-purple">
    <div id="app" class="relative min-h-screen">
      <PatternBg />

      <Header />

      <main class="relative z-10 text-white">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
