.container {
  background-image: url('../public/background.jpg');
  background-repeat: repeat;
}

.content {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.code,
.view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.code {
  padding-top: 6%;
  overflow-y: scroll;
}

.view {
  background: #474747;
  z-index: 2;
  transform: scaleY(0.95);
  transform-origin: top center;
  will-change: transform;
}

.show {
  animation: showCode 200ms ease-in-out 0s forwards;
}

.hide {
  animation: hideCode 200ms ease-in-out 0s forwards;
}

.title {
  margin: 0;
}

.slider {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 95%;
  left: 0;
  background: white;
  z-index: 3;
  cursor: row-resize;
}

@keyframes showCode {
  from {
    /* transform: scaleY(0.95); */
    height: 99%;
  }

  to {
    /* transform: scaleY(0.1); */
    height: 10%;
  }
}

@keyframes hideCode {
  from {
    /* transform: scaleY(0.1); */
    height: 10%;
  }

  to {
    /* transform: scaleY(0.95); */
    height: 99%;
  }
}
